header {
    background-color: #ff0000;
    text-align: center;
    padding: 20px;
}

.in {
    color: #646363;
    font-size: 18px;
}

#oa {
    background-color: #5e0000;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}